<section layout="row" flex style="min-height:500px;" ng-cloak>
    <div layout="column" flex>
        <md-toolbar md-whiteframe="6" class="header-fixed site-content-toolbar _md _md-toolbar-transitions" aria-hidden="false">
            <md-progress-linear class="top_loading" ng-if="loading" md-mode="indeterminate"></md-progress-linear>
            <div class="row">
                <div class="col-xs-8 col-sm-10 col-md-11">
                    <div class="md-toolbar-tools docs-toolbar-tools" tabindex="-1">
                        <a ui-sref="home.pokemons">
                        Pokemons
                    </a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-2 col-md-1">
                    <div class="md-toolbar-tools docs-toolbar-tools" tabindex="-1">
                        <a href="https://github.com/IamSumitJangid/myTask" class="pull-left" target="_blank">
                                Github
                            </a>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <md-content class="content" flex layout-padding>
            <ui-view></ui-view>
        </md-content>
    </div>
</section>